@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");
@-webkit-keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#hi {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: #ff35fd;
  -webkit-animation: pulse 0.7s infinite;
          animation: pulse 0.7s infinite;
  font-weight: bold; }

html, body {
  height: 100%;
  margin: 0; }

body {
  background-color: #333;
  position: relative;
  font-family: 'Open Sans'; }

h1 {
  margin: 0;
  font-size: 9em;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 300;
  z-index: 10;
  text-align: center; }

.image {
  background: url("../img/tape.jpg") no-repeat center center;
  background-size: 564px 443px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
